<ion-header [translucent]="true" padding>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Togo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
  <img width="100%" src="assets\Togo\9.jpeg">
</ion-card>
   
  <h4>
    
Le Togo, également connu sous le nom de la République togolaise, est un pays d'Afrique de l'Ouest. 
En 2022, sa population est estimée à environ 8,095 millions d'habitants, avec une densité de 152 hab./km2. 
Le Togo tire son nom de l'actuel Togoville.

Malgré sa taille modeste parmi les États africains continentaux, le Togo s'étend sur 56 600 km2, avec une largeur n'excédant pas 150 km du nord au sud. 
Il partage des frontières avec le Burkina Faso au nord, le golfe de Guinée au sud, le Bénin à l'est, et le Ghana à l'ouest. 
Le pays offre une diversité de paysages, allant de la côte de sable bordée de cocotiers au sud aux collines, vallées verdoyantes, petites montagnes au centre, plaines arides et grandes savanes au nord.

Colonisé en tant que protectorat allemand en 1884, le Togo est partagé entre le Royaume-Uni à l'ouest et la France à l'est après la Première Guerre mondiale. Le mandat britannique est intégré au Ghana en 1956, tandis que la colonie française obtient son indépendance en 1960. Sous la présidence autoritaire de Gnassingbé Eyadéma à partir de 1967, le Togo traverse une période de dictature jusqu'au début des années 1990. Son fils, Faure Gnassingbé, lui succède en 2005 et demeure au pouvoir à ce jour.

Le Togo est membre de plusieurs organisations internationales, dont l'ONU, l'Organisation internationale de la francophonie, la CEDEAO depuis 1975, l'UEMOA depuis 1994, le Commonwealth depuis 2022, et est également membre de l'Organisation de la coopération islamique.
  </h4> 
</ion-card>
</ion-content>
