<ion-header padding>
  <ion-toolbar color="warning">
    <ion-menu-button slot="start" style=" display: flex; " menu="main-menu" title="Menu"></ion-menu-button>
    <ion-title style="text-align: center;">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="contact">
    <ion-label><strong>Adresse e-mail :</strong> </ion-label><br>
  <ion-label>SAVADOGO Latif</ion-label>
  <p>
    latifsavadogo2004&#64;gmail.com
  </p>
  <ion-label>GUIGMA Safiyata</ion-label>
  <p> guigmasafiyata200&#64;gemail.com  </p>
  <ion-label><strong>Téléphone :</strong></ion-label><br>
    <p>
      +226 74603739 <br>
      +226 67293406
    </p>
    <div >
      <ion-button [routerLink]="['/contacter-nous']" color="dark" >Envoyer un message</ion-button>
    </div>
  </div>
  
</ion-content>

<ion-footer padding>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="warning">
      <ion-tab-button tab="home" [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="add" [routerLink]="['/billet']">
        <ion-icon name="add" src="assets\icon\ionicons.designerpack\add-outline.svg"></ion-icon>
        Réserver un billet
      </ion-tab-button>
      <ion-tab-button  href="assets\Vols\horaire_des_vols.jpg">
        <ion-icon name="vols" src="assets\icon\ionicons.designerpack\airplane-outline.svg"></ion-icon>
        Vols
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>



