<ion-header padding>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mali</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
    <img width="100%"  src="assets\Mali\11.jpg">
  </ion-card>
    <h4>
      Le Mali, officiellement la République du Mali, est un pays d'Afrique de l'Ouest entouré par la Mauritanie à l'ouest, l'Algérie au nord et au nord-est, le Niger à l'est, le Burkina Faso et la Côte d'Ivoire au sud-sud-ouest, la Guinée au sud-ouest, et le Sénégal à l'ouest-sud-ouest. Sa capitale, Bamako, abrite une population urbaine de 2,529 millions d'habitants en 2019. Le Mali est membre de la Communauté économique des États de l'Afrique de l'Ouest (CEDEAO) et de l'Union africaine. Cependant, il est actuellement suspendu de ces deux organisations en raison de la présence d'une dictature militaire en cours dans le pays.
    </h4>
  </ion-card>
</ion-content>
