<ion-header [translucent]="true" padding>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Senegal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
  <img width="100%" src="assets\Senegal\4.jpg">
</ion-card>
  <h4>
    
Le Sénégal, officiellement la République du Sénégal, est un État d'Afrique de l'Ouest. 
Bordé par l'océan Atlantique à l'ouest, il partage des frontières avec la Mauritanie, le Mali, la Guinée, et la Guinée-Bissau, sa capital est dakar. 
La Gambie forme une quasi-enclave à l'intérieur de ses terres. Le pays tire son nom du fleuve Sénégal à l'est et au nord. 
Son climat tropical est marqué par une saison sèche et une saison des pluies.

Membre de la CEDEAO, l'UA, la CEN-SAD, l'OIF, et l'OCI, le Sénégal est actif sur la scène internationale. Macky Sall est le président du pays depuis le 2 avril 2012.
  </h4>
</ion-card>

</ion-content>
