<ion-header [translucent]="true" padding>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Niger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
  <img width="100%" src="assets\Niger\7.jpeg">
</ion-card>
  <h4>
Le Niger, situé en Afrique de l'Ouest, est une république dont la capitale est Niamey. Il est entouré par l'Algérie, la Libye, le Tchad, le Nigeria, le Bénin, le Burkina Faso, et le Mali. Colonisé à la fin du XIXe siècle, il devient une colonie distincte en 1922 et accède à l'indépendance en 1960. Depuis, le pays a connu plusieurs coups d'État et périodes de régime militaire. Actuellement, le Niger est une république unitaire, démocratique et multipartite.

En juillet 2023, le président Mohamed Bazoum est destitué par des officiers de la garde présidentielle. Le pays est caractérisé par une diversité ethnique, avec les Haoussas constituant la plus grande ethnie. Bien que séculier, l'islam est la religion dominante. Le français est la langue officielle, et dix langues indigènes ont le statut de langue nationale.

Le Niger possède d'importantes ressources naturelles telles que l'or, le fer, le charbon, l'uranium et le pétrole. La géographie du pays est largement marquée par le Sahara et le Sahel.
  </h4>
</ion-card>
</ion-content>
