<ion-header [translucent]="true" padding>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Côte D'Ivoire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
    <img width="100%"  src="assets\Côte D'Ivoire\4.jpg">
  </ion-card>
  <h4>
    La Côte d'Ivoire, en forme longue république de Côte d'Ivoire (RCI), est un État situé en Afrique, dans la partie occidentale du golfe de Guinée.
     Elle présente sensiblement la forme d'un carré d'environ 600 km de côté7.
      D'une superficie de 322 463 km28, elle est bordée au nord-ouest par le Mali, au nord-est par le Burkina Faso, à l'est par le Ghana, au sud-ouest par le Liberia, à l'ouest-nord-ouest par la Guinée et au sud par l'océan Atlantique.
       La population est estimée à 29 389 150 habitants en 20219.
       La Côte d'Ivoire a pour capitale politique et administrative Yamoussoukro mais la quasi-totalité des institutions se trouvent à Abidjan, son principal centre économique.
  </h4>
</ion-card>
</ion-content>
