<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Benin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
  <img width="100%" src="assets\Benin\3.jpg">
</ion-card>
  <h4>
    Le Bénin, officiellement la République du Bénin, est un État d'Afrique de l'Ouest, couvrant 114 763 km2 et s'étirant sur 700 km du fleuve Niger au nord à la côte atlantique au sud. 
    Avec une population de 10 741 458 habitants en 2016, le Bénin est membre de la CEDEAO et partage des frontières avec le Togo à l'ouest, le Nigeria à l'est, le Niger au nord-est et le Burkina Faso au nord-ouest.
    Le pays a obtenu son indépendance le 1er août 1960 sous le nom de République du Dahomey. Après une période de marxisme-léninisme sous Mathieu Kérékou dans les années 1970, le Bénin a entamé une transition démocratique en 1990, sous la direction de Nicéphore Soglo. La nouvelle constitution a été adoptée, et le pays a conservé le nom de Bénin. Le président actuel, Patrice Talon, un homme d'affaires, a pris ses fonctions en avril 2016. La capitale officielle est Porto-Novo, tandis que Cotonou est la capitale économique.
    Le français est la langue officielle et le franc CFA est la monnaie. Le Bénin a un régime politique présidentiel et est membre de plusieurs organisations internationales, y compris l'Organisation internationale de la francophonie et l'Organisation de la coopération islamique.
  </h4>
</ion-card>
</ion-content>
