<ion-header [translucent]="true" padding>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ghana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card>
  <ion-card>
  <img width="100%" src="assets\Ghana\7.jpg">
</ion-card>
    <h4>
      Le Ghana, nation d'Afrique de l'Ouest bordant le golfe de Guinée, est réputé pour sa faune diversifiée, ses forts anciens et ses plages isolées comme celle de Busua. 
      Les villes côtières d'Elmina et de Cape Coast abritent des posubans (sanctuaires autochtones), des édifices coloniaux, ainsi que des châteaux convertis en musées qui racontent l'histoire du commerce des esclaves. 
      Au nord de Cape Coast, le vaste parc national de Kakum offre un pont suspendu au-dessus de la canopée de la forêt tropicale. 
      La capitale est Accra, la devise est le Cédi, et le président en fonction est Nana Akufo-Addo. Le Ghana a obtenu son indépendance le 6 mars 1957, et sa population est estimée à 32,83 millions en 2021 selon la Banque mondiale. L'anglais est la langue officielle. 
    </h4>
</ion-card>
</ion-content>
